.logo{
    width: 150px;
}
.active_link{
    border-bottom: 1px solid #fff;
}
.header{
    height: 70px;
    z-index: 99;
}
#nava ul li a{
    color:#fff !important;
}
#nava ul li a a:hover{
    color: #fff !important;
}
ul{
    margin-top:15px ;
}

@media (min-width: 1000px) {
    .navbar-expand-lg .navbar-collapse{
        position: absolute;
        right: 10px;
    }
}

.text{
    text-emphasis-color: white;
}

#diva ul li a{
    color:#fff !important;
}



