

@font-face {
    font-family: myFirstFont;
    src: url("fonts/KRDEV011.ttf");
}
.mydivider{
    width: 92%;
    height: 1px;
    background: lightgrey;
    align-self: center;
    margin-left: 4%;
}
.back-tag{
    cursor:pointer;
}

.bars{
    font-size: 35px;
    font-weight: bolder;
    color: grey;
    line-height: 25px;
    padding: 0 10px;
}

figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: auto;
    margin-left: 0;
  }
  
  img {
    max-width: auto;
    max-height: auto;
  }
  table {
    border:1px solid black;
    border-collapse: collapse;
  }
  .container{
    width: 600px !important;
    margin: 20px;
  }
  /* .content {
    margin: 20px 0;
  }
  .preview {
    max-width: 200px;
  } */
  
  
  



